html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}

h1 {
    text-align: center;
}

.profile {
    padding:100px;
    display: grid;
    grid-template-columns:1fr;

}

.forms {
    display: grid;
    margin-bottom: 10px;
}

.forms input {
    line-height: 20px;
    padding: 5px;
    border:1px solid #5c93f1;
    margin-left: 20px;

}
label:after {
    content: "*";
    color: red;
    font-weight: bold;
}


.button {
    width: 100px;
    height: 50px;
}
