html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}

h1 {
    text-align: center;
}

.profile {
    padding:100px;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
    grid-gap:10px;
}
form {
    display: grid;
}


input {
    border-color: #5c93f1;

}
